<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {{> header}}
        <title>Película</title>
    </head>
    <body>
        {{> menu}}
        <main class="container">

        </main>
        {{> footer}}
    </body>
</html>
